# Node rules:
## Grunt intermediate storage (http://gruntjs.com/creating-plugins#storing-task-files)
.grunt

## Dependency directory
## Commenting this out is preferred by some people, see
## https://docs.npmjs.com/misc/faq#should-i-check-my-node_modules-folder-into-git
node_modules

# Book build output
_book

# eBook build output
*.epub
*.mobi
*.pdf
<!DOCTYPE html>
<html>

<head>
    <title>K STAR SARLU</title>
</head> 
<titel #A52A2A>
<h1> K STAR SARLU </h1>
<body>
<p> - <b> Excavator  Update </b></p>
<button type="button">Account book</button>
<button type="button"> Machin Repair</button>
<button type="button"> KEVIN </button>
<button type="button">BAPU</button>
<button type="button">BHARAT</button>
<button type="button">XCMG (0096)</button>
<button type="button">XCMG (9272)</button>
<button type="button">XCMG (0308) </button>
<button type="button">XCMG (0309)</button>
<button type="button">LIV GONG</button>
</titel>

</body>

</html>
